<head> 
  <style>
    body {
      background-image: url('https://i.pinimg.com/originals/a7/fd/24/a7fd24c48e7b8d87cdfc691efc2ef876.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      background-attachment: fixed;
      margin: 6vw;
      color: white;
      text-align: center;
    }
    h1 {
      font-size: 6vw;
      font-family: "Chalkduster";
    }

    h2 {
      font-size: 4vw;
      font-family: "Chalkduster";
    }

    p {
      font-size: 2vw;
    }

    /* unvisited link */
    a:link {
      color: white;
    }

    /* visited link */
    a:visited {
      color: white;
    }

    /* mouse over link */
    a:hover {
      color: blue;
    }

    /* selected link */
    a:active {
      color: blue;
    }

    #footer {
      position: fixed;
      bottom: 5vw;
      font-size: 1.5vw;
    }

  </style>
</head>

<p id="notice"><%= notice %></p>
<h1> Assignment: <%= @assignment.name %> </h1>
<p> Points:<%= @assignment.points %> </p>
<p> Due:<%= @assignment.due_date %> </h1>
	<br>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>

<div class="column">
  <table class="table">
    <tbody>
      <% @assignments.each do |a| %> 
       <tr>
          <td>
            <%= a.name %>
          </td>
          <td>
            <%= a.cal_id %>
          </td>
   
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
