<head> 
  <style>
    body {
      background-image: url('https://i.pinimg.com/originals/a7/fd/24/a7fd24c48e7b8d87cdfc691efc2ef876.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      background-attachment: fixed;
      margin: 6vw;
      color: white;
      text-align: center;
    }
    h1 {
      font-size: 6vw;
      font-family: "Chalkduster";
    }

    h2 {
      font-size: 4vw;
      font-family: "Chalkduster";
    }

    p {
      font-size: 2vw;
    }

    /* unvisited link */
    a:link {
      color: white;
    }

    /* visited link */
    a:visited {
      color: white;
    }

    /* mouse over link */
    a:hover {
      color: blue;
    }

    /* selected link */
    a:active {
      color: blue;
    }

    #footer {
      position: fixed;
      bottom: 5vw;
      font-size: 1.5vw;
    }

  </style>
</head>

<body>
  <h1> Student Homepage </h1>
    <%= form_tag("/student_course", method: "post") do %>
      <%= label_tag(:course_id, "Course ID: ") %>
      &nbsp;
      <%= number_field_tag(:course_id) %>
      &nbsp;
      <%= hidden_field_tag(:student_id, @student.cal_id) %>
      <%= submit_tag("Add Course") %>
    <% end %>
  <h2> My Courses </h2>
  <div>

    <% @student.courses.each do |course| %>
      <% if current_teacher %>
      <p> <%= link_to course.name, course_path(id: course.id) %> </p>

      <% else %>
          <p> <%= link_to course.name, course_path(id: course.id, student_id: @student.id) %> </p>
      <% end %>
    <% end %>


  </div>

  <br>
  <br>

  <div id='footer'>
    <%= link_to 'Home', home_index_path %>
    &nbsp;&nbsp;
    <%= link_to 'Log Out', root_path, :method=>'get' %>
  </div>  

</body>
