<h1>Rcourses</h1>
<h2>A better version of bcourses!</h2>
<p><%= link_to 'Teachers:', teachers_path %> <%= Teacher.count %> registered</p>
<p><%= link_to 'Students:', students_path %> <%= Student.count %> registered</p>
<p><%= link_to 'Courses:', courses_path %> <%= Course.count %> registered</p>
