<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= link_to 'Teachers:', teachers_path %> <%= Teacher.count %> registered</p>
<p><%= link_to 'Students:', students_path %> <%= Student.count %> registered</p>
<p><%= link_to 'Courses:', courses_path %> <%= Course.count %> registered</p>