<h1>Rcourses</h1>
<h2>A better version of bcourses!</h2>
<p><%= link_to 'Teachers:', teachers_path %> <%= Teacher.count %> registered</p>
<p><%= link_to 'Courses:', courses_path %> <%= Course.count %> registered</p>
<p><%= link_to 'Students:', students_path %> <%= Student.count %> registered</p>
<%= link_to 'Submissions', submissions_index_path %>
<% if !current_teacher %>
<%= link_to 'Teacher Log In', new_teacher_session_path %>

<%= form_tag("/students", method: "get") do %>
  <%= number_field_tag(:cal_id) %>
  <%= submit_tag("Student Login") %>
<% end %>
<% end %>
<% if current_teacher %>
<p> <%= current_teacher.name %> is signed in! </p>
	<%= link_to 'My Page', teacher_path(current_teacher) %>
	<%= link_to 'Log Out', destroy_teacher_session_path, :method=>'delete' %>
<% end %>
