<h1>Rcourses</h1>
<h2>A better version of bcourses!</h2>
<p><%= link_to 'Teachers:', teachers_path %> <%= Teacher.count %> registered</p>
<p><%= link_to 'Courses:', courses_path %> <%= Course.count %> registered</p>

<%= link_to 'Teacher Log In', new_teacher_session_path %>

<%= form_tag("/students", method: "post") do %>
  <%= label_tag(:cal_id, "Student ID: ") %>
  <%= number_field_tag(:cal_id) %>
  <%= submit_tag("Student Login") %>
<% end %>
