<h1> teacher! </h1>

<%= form_tag("/courses", method: "create") do %>
  <%= label_tag(:name, "Course Name: ") %>
  <%= text_field_tag(:name) %>
  <%= hidden_field_tag(:teacher_id, current_teacher.id) %>
  <%= submit_tag("Create Course") %>
<% end %>

<h2> Courses Taught by Teacher </h2>
<div class="column">
  <table class="table">
    <tbody>
      <% @my_courses.each do |course| %>
        <tr>
          <%= link_to course.name, "/courses/#{course.id}" %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>

<%= link_to 'Log Out', destroy_teacher_session_path, :method=>'delete' %>
<%= link_to 'Home', home_index_path %>