<head> 
  <style>
    body {
      background-image: url('https://i.pinimg.com/originals/a7/fd/24/a7fd24c48e7b8d87cdfc691efc2ef876.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      background-attachment: fixed;
      margin: 6vw;
      color: white;
      text-align: center;
    }
    h1 {
      font-size: 6vw;
      font-family: "Chalkduster";
    }

    h3 {
      font-size: 2.5vw;
      font-family: "Chalkduster";
    }

    p {
      font-size: 2vw;
    }

    /* unvisited link */
    a:link {
      color: white;
    }

    /* visited link */
    a:visited {
      color: white;
    }

    /* mouse over link */
    a:hover {
      color: blue;
    }

    /* selected link */
    a:active {
      color: blue;
    }

    #footer {
      position: fixed;
      bottom: 5vw;
      font-size: 1.5vw;
    }

    table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
		}

		td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #3C9F54;
		}

  </style>
</head>

<h1> <%= @course.name %> Homepage </h1>
<h3> Assignments for Course </h3>
<div>
  <table>
  	<tr>
	    <th>Assignment Name</th>
	    <th>Score</th>
	    <th>Due Date</th>
  	</tr>
    <% @assignments.each do |assignment| %>
      <% if assignment.course_id == @course.id%>
        <tr>
          <td>
          	<% if current_teacher && current_teacher.id == @course.teacher_id %>
          		<%= link_to assignment.name, assignment_path(assignment.id) %>
          	<% else %>
          		<%= assignment.name %>
          	<% end %>
          	
          </td>
          <td>
          	<% if assignment.score.nil? %>
          		-- / <%= assignment.points %>
          	<% else %>
          		<%= assignment.score %> / <%= assignment.points %>
          	<% end %>
          </td>
          <td>
          	<%= assignment.due_date %>
          </td>
        </tr>
    
      <% end %>
    <% end %>
  </table>
</div>

<% if current_teacher && current_teacher.id == @course.teacher_id %> 
	<h3> Add Assignment </h3>
	<%= form_tag("/assignments", method: "create") do %>
	  <%= label_tag(:name, "Assignment Name: ") %>
	  &nbsp;
	  <%= text_field_tag(:name) %>
	  &nbsp;
	  <%= label_tag(:points, "Total Points: ") %>
	  &nbsp;
	  <%= number_field_tag(:points) %>
	  &nbsp;
	  <%= label_tag(:due_date, "Due Date: ") %>
	  &nbsp;
	  <%= text_field_tag(:due_date) %>
	  <%= hidden_field_tag(:teacher_id, @course.teacher_id)%>
	  <%= hidden_field_tag(:course_id, @course.id) %>
	  &nbsp;
	  <%= submit_tag("Create Assignment") %>
	<% end %>
<% end %>

<% if current_teacher && current_teacher.id == @course.teacher_id %> 
	<h3> Add Student to Course </h3> 
	<%= form_tag('/student_courses', method: 'post') do %>
	  <%= label_tag(:student_id, "Cal student ID: ") %>
	  &nbsp;
	  <%= number_field_tag(:student_id) %>
	  &nbsp;
	  <%= hidden_field_tag(:course_id, @course.id) %>
	  <%= submit_tag("Add Student to Course") %>
	<% end %>
<% end %>

<%
=begin %>
<h2> Students in Course </h2>
<div class="column">
  <table class="table">
    <tbody>
      <% @course.students.each do |student| %> 
       <tr>
          <td>
            <%= link_to student.name, student_path(student) %>
          </td>
   
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
<% if current_teacher && current_teacher.id == @course.teacher_id %>

<% end %> 

<%= link_to 'Home', home_index_path %>
<%
=end %>

<div id="footer">
	<%= link_to 'Home', home_index_path %>
	&nbsp;
	<%= link_to 'Back', url_for(:back) %>
	&nbsp;
	<%= link_to 'Log Out', root_path, :method=>'get' %>
</div>
