<h1> <%= @course.name %> </h1>

<%= form_tag("/assignments", method: "create") do %>
  <%= label_tag(:name, "Assignment Name: ") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:points, "Total Points: ") %>
  <%= number_field_tag(:points) %>
  <%= label_tag(:due_date, "Due Date: ") %>
  <%= text_field_tag(:due_date) %>
  <%= hidden_field_tag(:teacher_id, Teacher.find(@course.id).id) %>
  <%= hidden_field_tag(:course_id, @course.id) %>
  <%= submit_tag("Create Assignment") %>
<% end %>

<h2> Assignments for Course </h2>
<div class="column">
  <table class="table">
    <tbody>
      <% @assignments.each do |assignment| %>
        <tr>
          <td>
          <%= link_to assignment.name, "/assignments/#{assignment.id}" %>
          </td>
          <td>
          	<%= "-- / #{assignment.points}" %>
          </td>
          <td>
          	<%= "#{assignment.due_date}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_teacher %> 
<h2> Add Student to Course </h2> 
<!-- Need to route to proper place so that we can add entry to students_courses table -->
<%= form_tag("/assignments", method: "create") do %>
  <%= label_tag(:student_id, "Cal student ID: ") %>
  <%= number_field_tag(:student_id) %>
  <%= hidden_field_tag(:course_id, @course.id) %>
  <%= submit_tag("Add Student to Course") %>
<% end %>
<% end %>
<%= link_to 'Home', teacher_session_path %>